In [1]:
import pandas as pd

In [2]:
data_path = 'data/'
df0 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding = 'cp949')
df1 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정유동인구)_new.csv', encoding = 'cp949')
df2_2020 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2020_new.csv', encoding = 'cp949')
df2_2019 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019_new.csv', encoding = 'cp949')
df2_2018 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2018_new.csv', encoding = 'cp949')
df2_2017 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2017_new.csv', encoding = 'cp949')
df2_2016 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2016_new.csv', encoding = 'cp949')
df2_2015 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2015_new.csv', encoding = 'cp949')

### 0. 기준이 되는 상권

In [3]:
df0.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,201810,R,전통시장,1001453,낙성대시장,196121,442084,11620,11620585,NaN
1,201810,R,전통시장,1001454,봉천제일종합시장,195147,442413,11620,11620595,NaN
2,201810,R,전통시장,1001474,도곡시장,204551,444227,11680,11680650,NaN
3,201810,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,NaN
4,201810,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,NaN

In [4]:
sts = set(df0['상권_코드'])

In [5]:
len(sts)

1496

### 1. 추정 유동인구 빠진 상권 조사

#### 데이터셋 연도별, 분기별 분할

In [6]:
df1_2020 = df1[df1['기준 년코드'] == 2020]
df1_2019 = df1[df1['기준 년코드'] == 2019]
df1_2018 = df1[df1['기준 년코드'] == 2018]
df1_2017 = df1[df1['기준 년코드'] == 2017]
df1_2016 = df1[df1['기준 년코드'] == 2016]
df1_2015 = df1[df1['기준 년코드'] == 2015]

In [7]:
df1_2020_1 = df1_2020[df1_2020['기준_분기_코드'] == 1]
df1_2020_2 = df1_2020[df1_2020['기준_분기_코드'] == 2]
df1_2019_1 = df1_2019[df1_2019['기준_분기_코드'] == 1]
df1_2019_2 = df1_2019[df1_2019['기준_분기_코드'] == 2]
df1_2019_3 = df1_2019[df1_2019['기준_분기_코드'] == 3]
df1_2019_4 = df1_2019[df1_2019['기준_분기_코드'] == 4]
df1_2018_1 = df1_2018[df1_2018['기준_분기_코드'] == 1]
df1_2018_2 = df1_2018[df1_2018['기준_분기_코드'] == 2]
df1_2018_3 = df1_2018[df1_2018['기준_분기_코드'] == 3]
df1_2018_4 = df1_2018[df1_2018['기준_분기_코드'] == 4]
df1_2017_1 = df1_2017[df1_2017['기준_분기_코드'] == 1]
df1_2017_2 = df1_2017[df1_2017['기준_분기_코드'] == 2]
df1_2017_3 = df1_2017[df1_2017['기준_분기_코드'] == 3]
df1_2017_4 = df1_2017[df1_2017['기준_분기_코드'] == 4]
df1_2016_1 = df1_2016[df1_2016['기준_분기_코드'] == 1]
df1_2016_2 = df1_2016[df1_2016['기준_분기_코드'] == 2]
df1_2016_3 = df1_2016[df1_2016['기준_분기_코드'] == 3]
df1_2016_4 = df1_2016[df1_2016['기준_분기_코드'] == 4]
df1_2015_1 = df1_2015[df1_2015['기준_분기_코드'] == 1]
df1_2015_2 = df1_2015[df1_2015['기준_분기_코드'] == 2]
df1_2015_3 = df1_2015[df1_2015['기준_분기_코드'] == 3]
df1_2015_4 = df1_2015[df1_2015['기준_분기_코드'] == 4]

#### 연도별,분기별 상권 개수 구하기

In [8]:
print(len(df1_2020_1))
print(len(df1_2020_2))
print(len(df1_2019_1))
print(len(df1_2019_2))
print(len(df1_2019_3))
print(len(df1_2019_4))
print(len(df1_2018_1))
print(len(df1_2018_2))
print(len(df1_2018_3))
print(len(df1_2018_4))
print(len(df1_2017_1))
print(len(df1_2017_2))
print(len(df1_2017_3))
print(len(df1_2017_4))
print(len(df1_2016_1))
print(len(df1_2016_2))
print(len(df1_2016_3))
print(len(df1_2016_4))
print(len(df1_2015_1))
print(len(df1_2015_2))
print(len(df1_2015_3))
print(len(df1_2015_4))

1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1486
1495
1495
1495
1486
1485
1486
1486

In [9]:
s1_2020_1 = set(df1_2020_1['상권_코드'])
s1_2020_2 = set(df1_2020_2['상권_코드'])
s1_2019_1 = set(df1_2019_1['상권_코드'])
s1_2019_2 = set(df1_2019_2['상권_코드'])
s1_2019_3 = set(df1_2019_3['상권_코드'])
s1_2019_4 = set(df1_2019_4['상권_코드'])
s1_2018_1 = set(df1_2018_1['상권_코드'])
s1_2018_2 = set(df1_2018_2['상권_코드'])
s1_2018_3 = set(df1_2018_3['상권_코드'])
s1_2018_4 = set(df1_2018_4['상권_코드'])
s1_2017_1 = set(df1_2017_1['상권_코드'])
s1_2017_2 = set(df1_2017_2['상권_코드'])
s1_2017_3 = set(df1_2017_3['상권_코드'])
s1_2017_4 = set(df1_2017_4['상권_코드'])
s1_2016_1 = set(df1_2016_1['상권_코드'])
s1_2016_2 = set(df1_2016_2['상권_코드'])
s1_2016_3 = set(df1_2016_3['상권_코드'])
s1_2016_4 = set(df1_2016_4['상권_코드'])
s1_2015_1 = set(df1_2015_1['상권_코드'])
s1_2015_2 = set(df1_2015_2['상권_코드'])
s1_2015_3 = set(df1_2015_3['상권_코드'])
s1_2015_4 = set(df1_2015_4['상권_코드'])

In [10]:
d1_2020_1 = sts - s1_2020_1
d1_2020_2 = sts - s1_2020_2
d1_2019_1 = sts - s1_2019_1
d1_2019_2 = sts - s1_2019_2
d1_2019_3 = sts - s1_2019_3
d1_2019_4 = sts - s1_2019_4
d1_2018_1 = sts - s1_2018_1
d1_2018_2 = sts - s1_2018_2
d1_2018_3 = sts - s1_2018_3
d1_2018_4 = sts - s1_2018_4
d1_2017_1 = sts - s1_2017_1
d1_2017_2 = sts - s1_2017_2
d1_2017_3 = sts - s1_2017_3
d1_2017_4 = sts - s1_2017_4
d1_2016_1 = sts - s1_2016_1
d1_2016_2 = sts - s1_2016_2
d1_2016_3 = sts - s1_2016_3
d1_2016_4 = sts - s1_2016_4
d1_2015_1 = sts - s1_2015_1
d1_2015_2 = sts - s1_2015_2
d1_2015_3 = sts - s1_2015_3
d1_2015_4 = sts - s1_2015_4

In [11]:
d1_list = [d1_2020_1, d1_2020_2, d1_2019_1, d1_2019_2, d1_2019_3, d1_2019_4, d1_2018_1, d1_2018_2, d1_2018_3, d1_2018_4, d1_2017_1, 
           d1_2017_2, d1_2017_3, d1_2017_4, d1_2016_1, d1_2016_2, d1_2016_3, d1_2016_4, d1_2015_1, d1_2015_2, d1_2015_3, d1_2015_4]

#### 연도별, 분기별 빠진 상권의 상권 코드

In [12]:
i = 2020
q = 0
for d1 in d1_list:
    q += 1
    print("{}_{} : {}".format(i,q,d1))
    if i == 2020 and q == 2:
        q = 0
        i -=1
    elif q == 4:
        q = 0
        i -=1

2020_1 : {1001278}
2020_2 : {1001278}
2019_1 : {1001278}
2019_2 : {1001278}
2019_3 : {1001278}
2019_4 : {1001278}
2018_1 : {1001278}
2018_2 : {1001278}
2018_3 : {1001278}
2018_4 : {1001278}
2017_1 : {1001278}
2017_2 : {1001278}
2017_3 : {1001278}
2017_4 : {1001278}
2016_1 : {1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}
2016_2 : {1001278}
2016_3 : {1001278}
2016_4 : {1001278}
2015_1 : {1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}
2015_2 : {1001250, 1001383, 1001258, 1001086, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001118}
2015_3 : {1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}
2015_4 : {1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}

In [38]:
# 전체 누락 상권 개수
count_list = []
for d1 in d1_list:
    count = 0
    for d in d1:
        count += 1
    count_list.append(count)
count_list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 1, 1, 1, 10, 11, 10, 10]

#### 상권별, 분기별 빠진 상권의 상권명

In [39]:
code_list = list(df0['상권_코드'])
name_list = list(df0['상권_코드_명'])

In [40]:
total_name_list_people = []
for d1 in d1_list:
    code_name_list = []
    for c in d1:
        ind = code_list.index(c)
        name = name_list[ind]
        code_name_list.append(name)
    total_name_list_people.append(code_name_list)

In [42]:
len(total_name_list_people)

22

In [17]:
i = 2020
q = 0
for name_list in total_name_list_people:
    q += 1
    print("{}_{} : {}\n".format(i,q,name_list))
    if i == 2020 and q == 2:
        q = 0
        i -=1
    elif q == 4:
        q = 0
        i -=1

2020_1 : ['남평화시장']

2020_2 : ['남평화시장']

2019_1 : ['남평화시장']

2019_2 : ['남평화시장']

2019_3 : ['남평화시장']

2019_4 : ['남평화시장']

2018_1 : ['남평화시장']

2018_2 : ['남평화시장']

2018_3 : ['남평화시장']

2018_4 : ['남평화시장']

2017_1 : ['남평화시장']

2017_2 : ['남평화시장']

2017_3 : ['남평화시장']

2017_4 : ['남평화시장']

2016_1 : ['서울 은평구 불광역_3', '공덕시장', '등나무근린공원 주변', '남평화시장', '이문제일시장', '마포농수산물시장', '동문시장', '대조시장', '장지역', '고속터미널역']

2016_2 : ['남평화시장']

2016_3 : ['남평화시장']

2016_4 : ['남평화시장']

2015_1 : ['서울 은평구 불광역_3', '공덕시장', '등나무근린공원 주변', '남평화시장', '이문제일시장', '마포농수산물시장', '동문시장', '대조시장', '장지역', '고속터미널역']

2015_2 : ['서울 은평구 불광역_3', '공덕시장', '등나무근린공원 주변', '고속터미널역', '남평화시장', '이문제일시장', '마포농수산물시장', '동문시장', '대조시장', '장지역', '문래동 주민센터']

2015_3 : ['서울 은평구 불광역_3', '공덕시장', '등나무근린공원 주변', '남평화시장', '이문제일시장', '마포농수산물시장', '동문시장', '대조시장', '장지역', '고속터미널역']

2015_4 : ['서울 은평구 불광역_3', '공덕시장', '등나무근린공원 주변', '남평화시장', '이문제일시장', '마포농수산물시장', '동문시장', '대조시장', '장지역', '고속터미널역']

### 2. 추정 매출 빠진 상권 조사

#### 데이터셋 연도별, 분기별 분할

In [44]:
df2_2020_1 = df2_2020[df2_2020['기준_분기_코드'] == 1]
df2_2020_2 = df2_2020[df2_2020['기준_분기_코드'] == 2]
df2_2019_1 = df2_2019[df2_2019['기준_분기_코드'] == 1]
df2_2019_2 = df2_2019[df2_2019['기준_분기_코드'] == 2]
df2_2019_3 = df2_2019[df2_2019['기준_분기_코드'] == 3]
df2_2019_4 = df2_2019[df2_2019['기준_분기_코드'] == 4]
df2_2018_1 = df2_2018[df2_2018['기준_분기_코드'] == 1]
df2_2018_2 = df2_2018[df2_2018['기준_분기_코드'] == 2]
df2_2018_3 = df2_2018[df2_2018['기준_분기_코드'] == 3]
df2_2018_4 = df2_2018[df2_2018['기준_분기_코드'] == 4]
df2_2017_1 = df2_2017[df2_2017['기준_분기_코드'] == 1]
df2_2017_2 = df2_2017[df2_2017['기준_분기_코드'] == 2]
df2_2017_3 = df2_2017[df2_2017['기준_분기_코드'] == 3]
df2_2017_4 = df2_2017[df2_2017['기준_분기_코드'] == 4]
df2_2016_1 = df2_2016[df2_2016['기준_분기_코드'] == 1]
df2_2016_2 = df2_2016[df2_2016['기준_분기_코드'] == 2]
df2_2016_3 = df2_2016[df2_2016['기준_분기_코드'] == 3]
df2_2016_4 = df2_2016[df2_2016['기준_분기_코드'] == 4]
df2_2015_1 = df2_2015[df2_2015['기준_분기_코드'] == 1]
df2_2015_2 = df2_2015[df2_2015['기준_분기_코드'] == 2]
df2_2015_3 = df2_2015[df2_2015['기준_분기_코드'] == 3]
df2_2015_4 = df2_2015[df2_2015['기준_분기_코드'] == 4]

#### 연도별,분기별 상권 개수 구하기

In [45]:
s2_2020_1 = set(df2_2020_1['상권_코드'])
s2_2020_2 = set(df2_2020_2['상권_코드'])
s2_2019_1 = set(df2_2019_1['상권_코드'])
s2_2019_2 = set(df2_2019_2['상권_코드'])
s2_2019_3 = set(df2_2019_3['상권_코드'])
s2_2019_4 = set(df2_2019_4['상권_코드'])
s2_2018_1 = set(df2_2018_1['상권_코드'])
s2_2018_2 = set(df2_2018_2['상권_코드'])
s2_2018_3 = set(df2_2018_3['상권_코드'])
s2_2018_4 = set(df2_2018_4['상권_코드'])
s2_2017_1 = set(df2_2017_1['상권_코드'])
s2_2017_2 = set(df2_2017_2['상권_코드'])
s2_2017_3 = set(df2_2017_3['상권_코드'])
s2_2017_4 = set(df2_2017_4['상권_코드'])
s2_2016_1 = set(df2_2016_1['상권_코드'])
s2_2016_2 = set(df2_2016_2['상권_코드'])
s2_2016_3 = set(df2_2016_3['상권_코드'])
s2_2016_4 = set(df2_2016_4['상권_코드'])
s2_2015_1 = set(df2_2015_1['상권_코드'])
s2_2015_2 = set(df2_2015_2['상권_코드'])
s2_2015_3 = set(df2_2015_3['상권_코드'])
s2_2015_4 = set(df2_2015_4['상권_코드'])

In [46]:
print(len(s2_2020_1))
print(len(s2_2020_2))
print(len(s2_2019_1))
print(len(s2_2019_2))
print(len(s2_2019_3))
print(len(s2_2019_4))
print(len(s2_2018_1))
print(len(s2_2018_2))
print(len(s2_2018_3))
print(len(s2_2018_4))
print(len(s2_2017_1))
print(len(s2_2017_2))
print(len(s2_2017_3))
print(len(s2_2017_4))
print(len(s2_2016_1))
print(len(s2_2016_2))
print(len(s2_2016_3))
print(len(s2_2016_4))
print(len(s2_2015_1))
print(len(s2_2015_2))
print(len(s2_2015_3))
print(len(s2_2015_4))

1485
1485
1487
1485
1486
1487
1490
1490
1491
1491
1492
1492
1491
1491
1492
1493
1493
1491
1491
1491
1491
1491

In [47]:
d2_2020_1 = sts - s2_2020_1
d2_2020_2 = sts - s2_2020_2
d2_2019_1 = sts - s2_2019_1
d2_2019_2 = sts - s2_2019_2
d2_2019_3 = sts - s2_2019_3
d2_2019_4 = sts - s2_2019_4
d2_2018_1 = sts - s2_2018_1
d2_2018_2 = sts - s2_2018_2
d2_2018_3 = sts - s2_2018_3
d2_2018_4 = sts - s2_2018_4
d2_2017_1 = sts - s2_2017_1
d2_2017_2 = sts - s2_2017_2
d2_2017_3 = sts - s2_2017_3
d2_2017_4 = sts - s2_2017_4
d2_2016_1 = sts - s2_2016_1
d2_2016_2 = sts - s2_2016_2
d2_2016_3 = sts - s2_2016_3
d2_2016_4 = sts - s2_2016_4
d2_2015_1 = sts - s2_2015_1
d2_2015_2 = sts - s2_2015_2
d2_2015_3 = sts - s2_2015_3
d2_2015_4 = sts - s2_2015_4

In [48]:
d2_list = [d2_2020_1, d2_2020_2, d2_2019_1, d2_2019_2, d2_2019_3, d2_2019_4, d2_2018_1, d2_2018_2, d2_2018_3, d2_2018_4, d2_2017_1, 
           d2_2017_2, d2_2017_3, d2_2017_4, d2_2016_1, d2_2016_2, d2_2016_3, d2_2016_4, d2_2015_1, d2_2015_2, d2_2015_3, d2_2015_4]

#### 연도별, 분기별 빠진 상권의 상권코드

In [49]:
i = 2020
q = 0
for d2 in d2_list:
    q += 1
    print("{}_{} : {}".format(i,q,d2))
    if i == 2020 and q == 2:
        q = 0
        i -=1
    elif q == 4:
        q = 0
        i -=1

2020_1 : {1001344, 1000805, 1001435, 1001425, 1001272, 1001305, 1001434, 1001401, 1001372, 1001278, 1001311}
2020_2 : {1001344, 1000805, 1001435, 1001425, 1001272, 1001305, 1001434, 1001401, 1001372, 1001278, 1001311}
2019_1 : {1001435, 1001425, 1001428, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
2019_2 : {1000805, 1001435, 1001389, 1001425, 1001428, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
2019_3 : {1000805, 1001435, 1001425, 1001428, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
2019_4 : {1000805, 1001435, 1001425, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
2018_1 : {1001428, 1001272, 1001305, 1001434, 1001401, 1001311}
2018_2 : {1001428, 1001272, 1001305, 1001434, 1001401, 1001311}
2018_3 : {1001272, 1001305, 1001434, 1001401, 1001311}
2018_4 : {1001272, 1001305, 1001434, 1001401, 1001311}
2017_1 : {1001272, 1001401, 1001434, 1001311}
2017_2 : {1001272, 1001401, 1001434, 1001311}
2017_3 : {1001428, 1001272, 1001401, 1001434, 1001311}
2017_4 : {1001428, 1001272, 1001401, 1001434, 1001311}
2016_1 : {1001272, 1001305, 1001434, 1001401}
2016_2 : {1001272, 1001401, 1001434}
2016_3 : {1001272, 1001401, 1001434}
2016_4 : {1001272, 1001305, 1001434, 1001401, 1001311}
2015_1 : {1001425, 1001272, 1001305, 1001401, 1001311}
2015_2 : {1001425, 1001272, 1001305, 1001401, 1001311}
2015_3 : {1001425, 1001272, 1001305, 1001401, 1001311}
2015_4 : {1001425, 1001272, 1001305, 1001401, 1001311}

In [50]:
# 전체 누락 상권 개수
count = 0
for d2 in d2_list:
    for d in d2:
        count += 1
        
count

136

In [51]:
# 전체 누락 상권 개수
count_list = []
for d2 in d2_list:
    count = 0
    for d in d2:
        count += 1
    count_list.append(count)
count_list

[11, 11, 9, 11, 10, 9, 6, 6, 5, 5, 4, 4, 5, 5, 4, 3, 3, 5, 5, 5, 5, 5]

#### 연도별, 분기별 빠진 상권명

In [25]:
code_list = list(df0['상권_코드'])
name_list = list(df0['상권_코드_명'])

In [26]:
total_name_list_profit = []
for d2 in d2_list:
    code_name_list = []
    for c in d2:
        ind = code_list.index(c)
        name = name_list[ind]
        code_name_list.append(name)
    total_name_list_profit.append(code_name_list)

In [27]:
len(total_name_list_profit)

22

In [28]:
i = 2020
q = 0
for name_list in total_name_list_profit:
    q += 1
    print("{}_{} : {}\n".format(i,q,name_list))
    if i == 2020 and q == 2:
        q = 0
        i -=1
    elif q == 4:
        q = 0
        i -=1

2020_1 : ['번동시장', '대학14길', '대신시장', '푸른터시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '녹번시장', '남평화시장', '동부청과시장']

2020_2 : ['번동시장', '대학14길', '대신시장', '푸른터시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '녹번시장', '남평화시장', '동부청과시장']

2019_1 : ['대신시장', '푸른터시장', '박미시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '남평화시장', '동부청과시장']

2019_2 : ['대학14길', '대신시장', '합정시장', '푸른터시장', '박미시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '남평화시장', '동부청과시장']

2019_3 : ['대학14길', '대신시장', '푸른터시장', '박미시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '남평화시장', '동부청과시장']

2019_4 : ['대학14길', '대신시장', '푸른터시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '남평화시장', '동부청과시장']

2018_1 : ['박미시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '동부청과시장']

2018_2 : ['박미시장', '신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '동부청과시장']

2018_3 : ['신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '동부청과시장']

2018_4 : ['신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '동부청과시장']

2017_1 : ['신설종합시장', '신곡종합시장', '양남시장', '동부청과시장']

2017_2 : ['신설종합시장', '신곡종합시장', '양남시장', '동부청과시장']

2017_3 : ['박미시장', '신설종합시장', '신곡종합시장', '양남시장', '동부청과시장']

2017_4 : ['박미시장', '신설종합시장', '신곡종합시장', '양남시장', '동부청과시장']

2016_1 : ['신설종합시장', '자양종합시장', '양남시장', '신곡종합시장']

2016_2 : ['신설종합시장', '신곡종합시장', '양남시장']

2016_3 : ['신설종합시장', '신곡종합시장', '양남시장']

2016_4 : ['신설종합시장', '자양종합시장', '양남시장', '신곡종합시장', '동부청과시장']

2015_1 : ['푸른터시장', '신설종합시장', '자양종합시장', '신곡종합시장', '동부청과시장']

2015_2 : ['푸른터시장', '신설종합시장', '자양종합시장', '신곡종합시장', '동부청과시장']

2015_3 : ['푸른터시장', '신설종합시장', '자양종합시장', '신곡종합시장', '동부청과시장']

2015_4 : ['푸른터시장', '신설종합시장', '자양종합시장', '신곡종합시장', '동부청과시장']

### 3. 통합 데이터셋에서 결측치가 어떻게 나타나는지 조사

In [29]:
data_path_2 = '../직장인구_전체통합+/'
df_m = pd.read_csv(data_path_2 + 'data_processed_final.csv')

In [30]:
df_m.head()

,Unnamed: 0,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액,총_직장_인구_수,총 상주인구 수,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
0,0,전통시장,1001453,낙성대시장,2020.0,2.0,189157.0,4.0,3.994677e+09,10.0,568.0,6.0,37.0,123503739.0
1,1,전통시장,1001454,봉천제일종합시장,2020.0,2.0,82738.0,2.0,4.456344e+09,6.0,496.0,2.0,30.0,168357143.0
2,2,전통시장,1001474,도곡시장,2020.0,2.0,284809.0,7.0,1.162736e+10,57.0,241.0,1.0,67.0,639223684.0
3,3,전통시장,1001475,강남개포시장,2020.0,2.0,45750.0,4.0,3.526016e+09,138.0,NaN,NaN,NaN,NaN
4,4,전통시장,1001412,화곡본동시장,2020.0,2.0,184732.0,10.0,1.442403e+10,36.0,338.0,12.0,50.0,120212126.0

#### 유동인구 누락 데이터

In [31]:
df_m_people_null = df_m[df_m['총_유동인구_수'].isnull()]

In [32]:
df_m_people_null

,Unnamed: 0,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액,총_직장_인구_수,총 상주인구 수,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
1439,1439,전통시장,1001278,남평화시장,2020.0,2.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
2935,2935,전통시장,1001278,남평화시장,2020.0,1.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
4431,4431,전통시장,1001278,남평화시장,2019.0,4.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
5927,5927,전통시장,1001278,남평화시장,2019.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
7423,7423,전통시장,1001278,남평화시장,2019.0,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32735,32735,발달상권,1001086,고속터미널역,2015.0,1.0,NaN,NaN,1.018247e+11,14888.0,NaN,NaN,NaN,NaN
32813,32813,전통시장,1001269,동문시장,2015.0,1.0,NaN,NaN,9.880115e+06,NaN,NaN,NaN,NaN,NaN
32855,32855,전통시장,1001278,남평화시장,2015.0,1.0,NaN,NaN,1.127794e+09,152.0,NaN,NaN,NaN,NaN
32866,32866,전통시장,1001371,대조시장,2015.0,1.0,NaN,NaN,4.947208e+09,NaN,NaN,NaN,NaN,NaN
32876,32876,발달상권,1001020,장지역,2015.0,1.0,NaN,NaN,6.689008e+10,3724.0,NaN,NaN,NaN,NaN

In [33]:
df_m_people_null[['상권_구분_코드_명', '상권_코드', '상권_코드_명', '기준_년_코드', '기준_분기_코드']].isnull().sum()

상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
기준_년_코드       0
기준_분기_코드      0
dtype: int64

#### 추정매출 누락 데이터

In [34]:
df_m_profit_null = df_m[df_m['당월_매출_금액'].isnull()]

In [35]:
df_m_profit_null

,Unnamed: 0,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액,총_직장_인구_수,총 상주인구 수,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
12,12,전통시장,1001425,푸른터시장,2020.0,2.0,70709.0,NaN,NaN,3.0,43.0,2.0,76.0,205074278.0
18,18,전통시장,1001372,녹번시장,2020.0,2.0,34267.0,2.0,NaN,22.0,NaN,NaN,NaN,NaN
797,797,골목상권,1000805,대학14길,2020.0,2.0,663198.0,20.0,NaN,61.0,2838.0,14.0,43.0,105359751.0
961,961,전통시장,1001434,양남시장,2020.0,2.0,27725.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
962,962,전통시장,1001435,대신시장,2020.0,2.0,101321.0,1.0,NaN,12.0,NaN,1.0,91.0,178866546.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31428,31428,전통시장,1001425,푸른터시장,2015.0,1.0,10228.0,NaN,NaN,NaN,42.0,1.0,85.0,175157895.0
32489,32489,전통시장,1001401,신곡종합시장,2015.0,1.0,20769.0,NaN,NaN,18.0,NaN,NaN,NaN,NaN
32742,32742,전통시장,1001311,동부청과시장,2015.0,1.0,15399.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32783,32783,전통시장,1001305,자양종합시장,2015.0,1.0,13662.0,NaN,NaN,NaN,54.0,1.0,60.0,219000000.0
32820,32820,전통시장,1001272,신설종합시장,2015.0,1.0,13439.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_m_profit_null[['상권_구분_코드_명', '상권_코드', '상권_코드_명', '기준_년_코드', '기준_분기_코드']].isnull().sum()

상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
기준_년_코드       0
기준_분기_코드      0
dtype: int64

#### 유동인구 및 추정매출은 누락되어도 데이터셋에 잘 나타난다. (연도, 분기 누락 X)